[submodule "modules/spellCore"]
	path = modules/spellCore
	url = ssh://git@stash.spielmeister.com:7999/SPELLJS/spellcore.git 
[submodule "modules/spellFlash"]
	path = modules/spellFlash
	url = ssh://git@stash.spielmeister.com:7999/SPELLJS/spellflash.git
[submodule "modules/spellEd"]
	path = modules/spellEd
	url = ssh://git@stash.spielmeister.com:7999/SPELLJS/spelled.git
[submodule "modules/ace"]
	path = modules/ace
	url = ssh://git@stash.spielmeister.com:7999/SPELLJS/ace.git
[submodule "modules/extjs"]
	path = modules/extjs
	url = ssh://git@stash.spielmeister.com:7999/SPELLJS/extjs.git
[submodule "modules/jsduck"]
	path = modules/jsduck
	url = ssh://git@stash.spielmeister.com:7999/SPELLJS/jsduck.git
[submodule "modules/spelliOS"]
	path = modules/spelliOS
	url = ssh://git@stash.spielmeister.com:7999/SPELLJS/spellios.git
[submodule "modules/spellCocoonJS"]
	path = modules/spellCocoonJS
	url = ssh://git@stash.spielmeister.com:7999/SPELLJS/spellcocoonjs.git
[submodule "modules/spellWin8"]
	path = modules/spellWin8
	url = ssh://git@stash.spielmeister.com:7999/SPELLJS/spellwin8.git
[submodule "modules/node-webkit"]
	path = modules/node-webkit
	url = ssh://git@stash.spielmeister.com:7999/SPELLJS/node-webkit.git
[submodule "modules/SenchaCmd"]
	path = modules/SenchaCmd
	url = ssh://git@stash.spielmeister.com:7999/SPELLJS/senchacmd.git
[submodule "modules/nodejs"]
	path = modules/nodejs
	url = ssh://git@stash.spielmeister.com:7999/SPELLJS/nodejs.git
[submodule "modules/android-ndk"]
	path = modules/android-ndk
	url = ssh://git@stash.spielmeister.com:7999/SPELLJS/android-ndk.git
[submodule "modules/android-sdk"]
	path = modules/android-sdk
	url = ssh://git@stash.spielmeister.com:7999/SPELLJS/android-sdk.git
[submodule "modules/Ejecta"]
	path = modules/Ejecta
	url = ssh://git@stash.spielmeister.com:7999/SPELLJS/ejecta.git
[submodule "modules/nodejs-src"]
	path = modules/nodejs-src
	url = ssh://git@stash.spielmeister.com:7999/SPELLJS/nodejs-src.git
