.DS_STORE
/.idea
/build/*
/atlassian-ide-plugin.xml
/projects/*/build
/projects/*/public
/projects/*.tar
/projects/box2dTest/library/spell
/projects/spellReferenceProject/library/spell
/projects/entityMergingTests/library/spell
/projects/battleblast
/projects/superkumba
