[submodule "node_modules"]
	path = node_modules
	url = ssh://git@stash.spielmeister.com:7999/spellcommon/node_modules.git
[submodule "modules/certs"]
	path = modules/certs
	url = ssh://git@stash.spielmeister.com:7999/smint/certs.git
[submodule "demo_projects/demo_asteroids"]
	path = demo_projects/demo_asteroids
	url = ssh://git@stash.spielmeister.com:7999/smg/demo_asteroids.git
[submodule "demo_projects/demo_physics"]
	path = demo_projects/demo_physics
	url = ssh://git@stash.spielmeister.com:7999/smg/demo_physics.git
[submodule "demo_projects/demo_benchmark"]
	path = demo_projects/demo_benchmark
	url = ssh://git@stash.spielmeister.com:7999/smg/demo_benchmark.git
