<?xml version='1.0' encoding='windows-1252'?>
<Wix xmlns='http://schemas.microsoft.com/wix/2006/wi'>
  <Product Name='SpellJS' Id='0E450904-47C8-44E1-8615-4758CC60CAED' UpgradeCode='73009432-A0F6-4F94-B6E7-3C9CEBFB5541'
    Language='1033' Codepage='1252' Version='1.0.0' Manufacturer='Spielmeister GmbH'>

    <Package Id='*' Keywords='Installer' Description="SpellJS Installer" Manufacturer='Spielmeister GmbH'
      InstallerVersion='100' Languages='1033' Compressed='yes' SummaryCodepage='1252' />

    <Media Id='1' Cabinet='spellProduct.cab' EmbedCab='yes'/>

    <Directory Id='TARGETDIR' Name='SourceDir'>
		<Directory Id='ProgramFilesFolder' Name='PFiles'>
			<Directory Id='INSTALLDIR' Name='SpellJS'>
			</Directory>
		</Directory>
    </Directory>

    <Feature Id="Complete" Level="1">
	<ComponentGroupRef Id="SpellProduct" />
    </Feature>
  </Product>
</Wix>

