<?xml version="1.0" encoding="windows-1252"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi"
	xmlns:util="http://schemas.microsoft.com/wix/UtilExtension">
  <Product Name="SpellJS" Id="0E450904-47C8-44E1-8615-4758CC60CAED" UpgradeCode="73009432-A0F6-4F94-B6E7-3C9CEBFB5541"
    Language="1033" Codepage="1252" Version="0.8.35" Manufacturer="Spielmeister GmbH">

    <Package Id="*" Keywords="Installer" Description="SpellJS Installer" Manufacturer="Spielmeister GmbH"
      InstallerVersion="100" Languages="1033" Compressed="yes" SummaryCodepage="1252" />

    <Media Id="1" Cabinet="spellProduct.cab" EmbedCab="yes"/>

    <Directory Id="TARGETDIR" Name="SourceDir">
		<Directory Id="ProgramMenuFolder">
			<Directory Id="ApplicationProgramsFolder" Name="SpellJS"/>
		</Directory>

		<Directory Id="ProgramFilesFolder" Name="PFiles">
			<Directory Id="INSTALLDIR" Name="SpellJS">
				<Directory Id="SPELLEDDIR" Name="spellEd">
				</Directory>
			</Directory>
		</Directory>
    </Directory>

    <DirectoryRef Id="ApplicationProgramsFolder">
        <Component Id="ApplicationShortcut" Guid="5D5A5AEE-87C0-4E82-96EF-D21C71A9AE88">
        <Shortcut Id="ApplicationStartMenuShortcut" 
                  Name="SpellEd"
                  Description="The SpellJS Editor"
                  Target="[SPELLEDDIR]\spelled.exe"
		  WorkingDirectory="SPELLEDDIR"/>

	  <util:InternetShortcut Id="OnlineDocumentationShortcut" Name="SpellJS Documentation (online)" Target="http://docs.spelljs.com"/>
							       	
            <RemoveFolder Id="ApplicationProgramsFolder" On="uninstall"/>
            <RegistryValue Root="HKCU" Key="Software\Spielmeister\SpellJS" Name="installed" Type="integer" Value="1" KeyPath="yes"/>
        </Component>
    </DirectoryRef>

    <Feature Id="Complete" Level="1">
	<ComponentGroupRef Id="TheProduct" />
	<ComponentRef Id="ApplicationShortcut" />
    </Feature>
  </Product>
</Wix>

