<?xml version="1.0" encoding="windows-1252"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi"
	xmlns:util="http://schemas.microsoft.com/wix/UtilExtension">

  <?define Manufactor = "Spielmeister GmbH"?>
  <?define UpgradeGuid = "{73009432-A0F6-4F94-B6E7-3C9CEBFB5541}"?>
  <?define Version = "0.8.37"?>

  <Product Name="SpellJS" Id="*" UpgradeCode="$(var.UpgradeGuid)"
    Language="1033" Codepage="1252" Version="$(var.Version)" Manufacturer="$(var.Manufactor)">
    
    <Package Id="*" Keywords="Installer" Description="SpellJS Installer" Manufacturer="$(var.Manufactor)"
      InstallerVersion="100" Languages="1033" Compressed="yes" SummaryCodepage="1252" />

    <Media Id="1" Cabinet="spellProduct.cab" EmbedCab="yes"/>

    <Upgrade Id="$(var.UpgradeGuid)">
      <UpgradeVersion Minimum="!(var.Version)"
                      IncludeMinimum="no"
                      OnlyDetect="yes"
                      Language="1033"
                      Property="NEWPRODUCTFOUND" />
      <UpgradeVersion Minimum="0.1.0.0"
                      IncludeMinimum="yes"
                      Maximum="!(var.Version)"
                      IncludeMaximum="no"
                      Language="1033"
                      Property="UPGRADEFOUND" />
      <UpgradeVersion Minimum="1.0.0.0" Maximum="99.0.0.0"
         Property="PREVIOUSVERSIONSINSTALLED"
         IncludeMinimum="yes" IncludeMaximum="no" />
    </Upgrade>

    <Directory Id="TARGETDIR" Name="SourceDir">
		<Directory Id="ProgramMenuFolder">
			<Directory Id="ApplicationProgramsFolder" Name="SpellJS"/>
		</Directory>

		<Directory Id="ProgramFilesFolder" Name="PFiles">
			<Directory Id="INSTALLDIR" Name="SpellJS">
				<Directory Id="SPELLEDDIR" Name="spellEd">
				</Directory>
			</Directory>
		</Directory>
    </Directory>

    <DirectoryRef Id="ApplicationProgramsFolder">
        <Component Id="ApplicationShortcut" Guid="5D5A5AEE-87C0-4E82-96EF-D21C71A9AE88">
        <Shortcut Id="ApplicationStartMenuShortcut" 
                  Name="SpellEd"
                  Description="The SpellJS Editor"
                  Target="[SPELLEDDIR]\spelled.exe"
		  WorkingDirectory="SPELLEDDIR"/>

	  <util:InternetShortcut Id="OnlineDocumentationShortcut" Name="SpellJS Online Documentation" Target="http://docs.spelljs.com" Type="url"/>
							       	
            <RemoveFolder Id="ApplicationProgramsFolder" On="uninstall"/>
            <RegistryValue Root="HKCU" Key="Software\Spielmeister\SpellJS" Name="installed" Type="integer" Value="1" KeyPath="yes"/>
        </Component>
    </DirectoryRef>

    <Feature Id="Complete" Level="1">
	<ComponentGroupRef Id="TheProduct" />
	<ComponentRef Id="ApplicationShortcut" />
    </Feature>

    <CustomAction Id="PreventDowngrading"
                  Error="A newer version of this software is already installed on this computer." />

    <InstallExecuteSequence>
      <Custom Action="PreventDowngrading"
              After="FindRelatedProducts">NEWPRODUCTFOUND</Custom>
      <RemoveExistingProducts After="InstallFinalize" />
    </InstallExecuteSequence>

  </Product>
</Wix>

